<div class="main-container">
  <h1>コンカツ</h1>
  <h2>献立活動、略して <span>コンカツ</span> 初めてみませんか？</h2>

  <div class='search-bar-contents'>
    <%= form_with(url: research_recipes_path, local: true, method: :get, class: "search-form") do |form| %>
      <%= form.text_field :keyword, placeholder: "ズボラ飯", class: "sbox" %>
      <%= form.submit "検索", class: "sbtn" %>
    <% end %>
  </div>


<div class="recipe__content">
  <div class="subtitle">
  新着レシピ
  </div>
  <div class="recipe-contents">
    <% @recipes.each do |recipe| %>
      <%= render partial:"recipe", locals: {recipe: recipe} %>
    <% end %>
  </div>
</div>
</div>