<div class="main-container">
  <h1>コンカツ</h1>
  <h2>献立活動、略して <span>コンカツ</span> 初めてみませんか？</h2>

    <div class='search-bar-contents'>
      <form id="search" action="自分のサイトのURL">
        <input id="sbox"  id="s" name="s" type="text" placeholder="#ズボラ飯" />
        <input id="sbtn" type="submit" value="検索" />
      </form>
    </div>


<%# レシピ一覧の表示 %>
<div class="recipe__content">
  <div class="subtitle">
  新着レシピ
  </div>
  <div class="recipe-contents">
    <% @recipes.each do |recipe| %>
    <%= render partial:"recipe", locals: {recipe: recipe} %>
    <% end %>
  </div>
</div>
</div>