.main-container {
  animation-name: fade-in3;
  animation-duration: 2s;
  animation-timing-function: ease-out;
  animation-delay: 0.2s;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-fill-mode: forwards;
}

@keyframes fade-in3 {
  0% {
    opacity: 0;
    transform: translate3d(0, 20px, 0);
  }
  100% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.recipe-images {
  transition-duration: 0.4s;
  box-shadow: 0px 4px 15px -5px rgba(136, 136, 136, 0.75);
}
.recipe-images:hover {
  opacity: 0.6;
}
