/* ヘッダー */

.main-container h1 {
  margin: 30px 0;
}

.header-bar {
  background-color: #d1baad;
  height: 65px;
  color: #ffffff;
  font-size: 50px;
}

h1 {
  color: black;
  font-size: 50px;
  text-align: center;
  margin-top: 80px;
}

.nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.nav_right{
  display: inline-block;
  text-decoration: none;
  font-size: 20px;
  margin: 15px 80px 25px 15px;
  background-color: #ffffff;
}

.new_post_btn {
  text-decoration: none;
}


/* トップページ */

.main-container {
  height: 100vh;
  margin: 60px;
}

.subtitle {
  text-align: center;
  font-size: 3vh;
  margin: 1vh 0;
  text-decoration: none;
  font-weight: bold;
}

.search-bar-contents {
  text-align: center;
  margin: 30px;
}

.search-form {
}

.recipe-contents {
  display: flex;
  flex-wrap: nowrap;
  margin: 300px 30px 30px 30px;
  overflow-x: scroll;

}

.list {
  width: 200px;
}

.recipe-image-content {
  margin: 20px;
}

.recipe-images {
  width: 30vw;
  height: 30vh;
  object-fit: cover;
 }

.recipe-title {
  font-size: 2.5vh;
}

h3{
  font-size: 13px;
}

.recipe-info {
  display: inline;
  margin: 45px;
}

.over-view {
  text-align: center;
}

.time_require {
  margin-bottom: 30px;
}

/* 新規投稿ボタン */

.new_post_btn {
  font-size: 20px;
  border: 2px solid rgb(255, 255, 255);
  background-color: #ffffff;
  padding: 5px 5px;
  margin: 10px 0 0 50px;
}

.post_btn {
  text-decoration: none;
}


/* フッター  */

.actions {
  padding-bottom: 50px;
}

/* .footer {
  background-color: #999;
  padding: 20px 0;
  position: fixed;
  bottom: 0;
  width: 100%;
  margin-top: auto;
}

p {
  text-align: center;
  color: #ffffff;
  font-size: 10px;
}
*/