.main-container {
  background-color: #f5efefd8;
}

body {
  height: 500px;
  background-color: #f5efefd8;
}

/* ヘッダー */

.header {
  height: 65px;
  font-size: 50px;
  display: flex;
  margin: 0 30px;
}

.nav {
  display: flex;
}

.nav_right{
  display: inline-block;
  text-decoration: none;
  font-size: 20px;
  color: #364C63;
}

a.post_btn {
  text-decoration: none;
  font-size: 20px;
  margin: 15px;
  padding: 5px;
  border: 2px solid rgb(255, 255, 255);
}

a.post_btn {
  color: #364C63;
}

a.nav_btn {
  color: #364C63;
  margin: 15px;
  padding: 5px;
  border: 2px solid rgb(255, 255, 255);
}

.nav {
  position: relative;
}

/* メイン部分 */

.top-page {
  position: relative;
}

.main-logo {
  text-align: center;
  margin: 30px;
}

.main-image {
  height: 40%;
  width: 70%;
  margin-top: 30px;
}

.second-main-logo {
  position: absolute;
  top:55%;
  right: 30%;
}

.main-container h1 {
  font-size: 75px;
  font-family: 'Noto Serif JP', serif;
  color: #ffffff;
}

.main-container h2 {
  font-size: 20px;
  font-family: 'Noto Sans SC - 400';
  color:#364c63e3;
  background-color: #ffffffd3;
  padding: 15px 30px;
  margin: 0 60px;
}

span {
  font-size: 25px;
}

h1 {
  color: #364C63;
  font-size: 50px;
  text-align: center;
  margin-top: 120px;
}

.sbox {
  height: 50px;
  width: 600px;
  max-width: 270px;
  border: none;
  background-color: #ffffff;
}

.sbtn {
  width: 70px;
  height: 50px;
  border: none;
  color: #ffffff;
  background-color: rgba(226, 180, 180, 0.829);
  text-align: center;
 }

.sbtn:hover {
  background-color: #ffffff;
  color: rgba(226, 180, 180, 0.829);
}

.search-tag-title {
  font-size: 26px;
  text-align: center;
}

.child-tag {
  display: flex;
  position: absolute;
  left: 35%;
}

/* 検索フォーム */

.popular-tags {
  position: relative;
}

.search-bar-contents {
  position: absolute;
  top: 120%;
  left: 35%;
  margin: 30px;
  padding-top: 45px;
}

.search-form {
  top: 120%;
  left: 40%;
  margin-bottom: 60px;
}

.search-tag {
  margin-top: 60px;
  position: absolute;
}

.search-tag-title {
  position: relative;
  left: 460px;
  top: 50px;
  font-size: 20px;
}

/* レシピ一覧表示 */

.recipe__content {
  flex-direction: column;
  position: relative;
}

.subtitle {
  font-size: 20px;
  color: #203563b9;
  text-decoration: none;
  font-weight: bold;
  font-family: 'Noto Sans SC - 400';
  position: absolute;
  bottom: 110%;
  left: 46%;
}

.recipe-contents {
  display: flex;
  flex-wrap: nowrap;
  margin: 300px 30px 30px 30px;
  overflow-x: scroll;
}

.recipes__list {
  width: 200px;
}

.recipe-image-content {
  margin: 30px;
}

.recipe-images {
  width: 30vw;
  height: 30vh;
  object-fit: cover;
 }

.recipe-title {
  font-size: 18px;
}

h3{
  font-size: 15px;
}

.recipe-category {
  margin: 15px;
}

.recipe-info {
  display: inline;
  margin: 45px;
}

.over-view {
  text-align: center;
  margin: 30px 30px 60px;
}

.time_require {
  margin-bottom: 30px;
}

/* 新規投稿ボタン */


/* フッター  */

footer {
  text-align: center;
  padding: 20px 0;
  bottom: 0;
  width: 100%;
  background-color: rgba(214, 149, 149, 0.253);
}

.footer p{
  color: #290909a1;
  font-size: 9px;
}

