
body {
  height: 500px;
}

/* ヘッダー */

.main-container {
  background-color: #ffffff;

}

.main-container h1 {
  margin: 60px 30px 30px 30px;
  font-size: 60px;
  font-family: 'Noto Serif JP', serif;
  color: #966D5C;
}

.main-container h2 {
  font-size: 20px;
  margin: 30px;
  font-family: 'Noto Sans SC - 400';
  color: #966D5C;
}

.header-bar {
  height: 65px;
  color: #ffffff;
  font-size: 50px;
}

h1 {
  color: black;
  font-size: 50px;
  text-align: center;
  margin-top: 80px;
}

.nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.nav_right{
  display: inline-block;
  text-decoration: none;
  font-size: 20px;
  background-color: #ffffff;
}

.new_post_btn {
  text-decoration: none;
  margin: 15px;
}


/* トップページ */

.wrapper {
  background-color: rgb(233, 216, 200);
}

.sbox {
  height: 50px;
  width: 600px;
  max-width: 270px;
  outline: none;
}

.sbtn {
  width: 70px;
  height: 50px;
  outline: none;
 }

.sbtn:hover {
  background-color: rgb(255, 243, 241);
}

/* レシピ一覧表示 */

.recipe__content {
  flex-direction: column;
}

.subtitle {
  text-align: center;
  font-size: 3vh;
  text-decoration: none;
  font-weight: bold;
  color: #966D5C;
   font-family: 'Noto Sans SC - 400';
}

.search-bar-contents {
  text-align: center;
  margin: 30px;
}

.recipe-contents {
  display: flex;
  flex-wrap: nowrap;
  margin: 300px 30px 30px 30px;
  overflow-x: scroll;

}

.list {
  width: 200px;
}

.recipe-image-content {
  margin: 20px;
}

.recipe-images {
  width: 30vw;
  height: 30vh;
  object-fit: cover;
 }

.recipe-title {
  font-size: 2.5vh;
}

h3{
  font-size: 13px;
}

.recipe-info {
  display: inline;
  margin: 45px;
}

.over-view {
  text-align: center;
}

.time_require {
  margin-bottom: 30px;
}

/* 新規投稿ボタン */

.new_post_btn {
  font-size: 20px;
  border: 2px solid rgb(255, 255, 255);
  background-color: #ffffff;
  padding: 5px 5px;
  margin: 10px 0 0 50px;
}

.post_btn {
  text-decoration: none;
}


/* フッター  */

.actions {
  padding-bottom: 50px;
}

/* .footer {
  background-color: #999;
  padding: 20px 0;
  position: fixed;
  bottom: 0;
  width: 100%;
  margin-top: auto;
}

p {
  text-align: center;
  color: #ffffff;
  font-size: 10px;
}
*/