/* 新規投稿ページ */

.inner {
  background-color: #ffffffd0;
}

.collection-select {
  border: 1px solid rgb(66, 66, 66);
}

#cook_image {
  border: none;
  margin: 15px;
}

.new-recipe {
  padding-top: 60px;
  margin: 30px;
  color: #364c63;
}

.collection-select {
  margin: 15px 0;
  border: 1px solid rgb(155, 155, 155);
  background-color: #ffffff;
}

.title_field {
  height: 40px;
  width: 270px;
  margin: 15px;
  border: 1px solid rgb(155, 155, 155);
  background-color: #ffffff;
}

.input-tag {
  height: 30px;
  width: 240px;
  margin: 15px;
  border: 1px solid rgb(155, 155, 155);
  background-color: #ffffff;
}

.material_field {
  height: 90px;
  width: 270px;
  margin: 15px;
  border: 1px solid rgb(155, 155, 155);
  background-color: #ffffff;
}

.text_field {
  height: 120px;
  width: 270px;
  margin: 15px;
  border: 1px solid rgb(155, 155, 155);
  background-color: #ffffff;
}

.tag_field {
  outline: none;
  height: 100px;
  width: 80%;
}

.form__btn:hover {
  color: rgba(146, 146, 146, 0.712);
}

strong {
  color: #364c63;
}