/* 新規投稿ページ */

.new-recipe {
  margin: 30px;
}

.title_field {
  height: 35px;
  outline: none;

}

.material_field {
  height: 60px;
  outline: none;
}

.text_field {
  height: 100px;
  width: 80%;
  outline: none;
}

.tag_field {
  outline: none;
  height: 100px;
  width: 80%;
}

