.research-bar {
  text-align: center;
  margin: 60px;
}

.contents-row {
  top: 50%;
  margin: auto;
}

.research-list {
  text-align: center;
}

.nil_message {
  font-size: 27px;
  color: #364c63;
  margin: 0 0 36%;
}