.main {
  padding: 30px 30px 75px ;
  background-color: #fdefefd8;
}

.top-title {
  margin: 30px;
}

.hedding {
  font-size: 15px;
  margin: 30px;
  text-align: center;
  color: rgb(0, 0, 0);
}

.show__hedding {
  text-align: center;
  font-size: 30px;
  color: #364c63;
  margin: 30px;
}

.recipe__user {
  text-align: center;
  font-size: 15px;
  text-decoration: underline;
}

.recipe__user:hover {
  color: rgba(110, 86, 75, 0.76);
}

.hedding {
  padding: 15px;
  margin: 0 30%;
  background-color: #ffffffb9;
}

.recipe__category {
  color: #364c63;
  font-size: 15px;
}

.recipe__time__require {
  color: #364c63;
  font-size: 15px;
}

.recipe__image {
  width: 30vw;
  margin: 30px;
  object-fit: cover;
}

.images {
  margin: 30px 0 30px 120px ;
}

.separate__main {
  margin: 30px;
  display: flex;
}

.recipe__body {
  margin: 30px 0 60px 270px;
  padding: 30px;
}

.recipe__materials {
  background-color: #ffffffb9;
  margin: 15px;
  padding: 0 15px 15px;
}

.materials {
  color: #364c63;
  padding: 15px;
  line-height: 1.7;
  white-space: pre-line;
}

p.recipe__material {
  color: #364c63;
  margin: 15px;
}

.description {
  background-color: #ffffffb9;
  margin: 60px 15px 15px;
  padding: 0 15px 15px;
}

.description_area {
  white-space: pre-line;
  color: #364c63;
  line-height: 1.7;
}

p.recipe__description {
  color: #364c63;
  margin: 15px;
}

.recipe__body p{
  text-align: center;
  padding-top: 15px;
  font-size: 20px;
  padding-top: 30px;
}

.tag-list {
  font-size: large;
  text-align: center;
  margin: 30px;
  color: rgb(99, 80, 86);
}


/* コメント */

.comment-form {
  border: none;
}

#comment_submit {
  background-color: rgb(255, 255, 255);
  margin: 0 15px;
  padding: 5px;
  border: 1px solid #a5a5a5;
}

.comment___list {
  display: flex;
  margin: 9px;
}

.comment__container {
  margin-left: 50%;
  background-color: #fff1f1b9;
}

.comment__container form {
  padding: 15px;
}

#comment_comment {
  background-color: #ffffff;
  padding: 15px;
}

.comments {
  margin: 15px 60px 60px 0;
  padding: 15px;
  background-color: #f5e3e3a9;
}

h4 {
  text-align: center;
  color: #222020c4;
  padding: 9px;
}

/* ボタン */

.btn__display {
  padding-left: 75%;
} 

.edit__btn {
  background-color: #ffffff;
  padding: 9px;
}

.delete__btn {
  background-color: #ffffff;
  padding: 9px;
}

/* いいね機能 */

.favo {
}

.likes {
}

.like {
}

.like:hover {
  color: #ffffff;
  background-color: aqua;
} 

.like_d {
}

.like_d:hover {
  color: aqua;
  background-color: #ffffff;
}