
 * {
  box-sizing: border-box;
}
 
/* ヘッダー */

.header-bar {
  background-color: #d1baad;
  height: 65px;
  color: #ffffff;
  font-size: 50px;
}

h1 {
  color: black;
  font-size: 50px;
  text-align: center;
  margin-top: 80px;
}

.nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.nav_right{
  display: inline-block;
  text-decoration: none;
  font-size: 20px;
  margin: 15px 80px 0 0;
}

.new_post_btn {
  text-decoration: none;
}


/* user関連 */

.form-list {
  height: 100vh;
  overflow: scroll;
}

h2 {
  text-align: center;
  margin-top: 40px;
  font-size: 30px;
}

.field {
  text-align: center;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  padding: 25px 40%;
}

.actions {
  text-align: center;
}

.nav_btn {
  text-decoration: none;
}

/* エラーメッセージ */
.error {
  text-align: center;
  font-size: 20px;
}

/* トップページ */

/* 新規投稿ボタン */

.new_post_btn {
  font-size: 20px;
  border: 2px solid rgb(255, 255, 255);
  background-color: #ffffff;
  padding: 5px 5px;
  margin: 10px 0 0 50px;
}

.post_btn {
  text-decoration: none;
}

/* 新規投稿ページ */

.field_type {
  height: 100vh;
  overflow: scroll;
}

.title_field {
  height: 35px;
}

.material_field {
  height: 60px;
}

.text_field {
  height: 100px;
}

/* フッター  */

div#wrap{
  position: relative;
  height:auto !important; /*IE6対策*/
  height: 100%; /*IE6対策*/
  min-height: 100%;
}

footer {
  background-color: #999;
  padding: 20px 0;
  position: absolute;
  bottom: 0;
  width: 100%;
}

p {
  text-align: center;
  color: #ffffff;
  font-size: 10px;
}