/* 登録方法の選択 */

.form-wrapper {
  height: 70vh;
  width: 30vw;
  text-align: center;
  margin: 3em auto;
  padding: 45px;
  background: #fafafa;
  border-radius: 4px;
  box-shadow: 6px 6px #d1a7a79d;
}

.form-wrapper h1{
  margin: 15px;
  font-size: 30px;
  font-family: 'M PLUS 1p', sans-serif;
  font-family: 'Noto Serif JP', serif;
  font-family: 'Rampart One';
  font-family: 'Zen Maru Gothic', sans-serif;
  font-family: 'Zen Old Mincho', serif;
  color: #364c63;
}

.registration_m {
  margin: 78px;
}

.registration_m a {
  font-size: 15px;
  color: #364c63;
  padding-bottom: 5px;
  border-bottom: solid 2px #cfcfcf6c;
}

.registration_g {
  margin: 78px;
}

.registration_g a {
  font-size: 15px;
  color: #364c63;
  padding-bottom: 5px;
  border-bottom: solid 2px #cfcfcf6c;
}

.registration_f {
  margin: 78px;
}

.registration_f a {
  font-size: 15px;
  color: #364c63;
  padding-bottom: 5px;
  border-bottom: solid 2px #cfcfcf6c;
}

/* user関連 */

.registration {
  background-color: #fff1f1b9;
}

.registration h2 {
  text-align: center;
  padding: 45px;
  font-size: 30px;
  margin-top: 30px;  
}

.form-list {
  width: 45%;
  margin: 0 27%;
  background-color: #e2bbbb2d;
  border-radius: 7px;
}

.form-list h2 {
  text-align: center;
  padding: 45px;
  font-size: 30px;
  margin-top: 30px;
}

.field {
  text-align: center;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  padding: 25px 40%;
  margin-top: 30px;
 }

 .fieldd {
   margin: 15px;
   text-align: center;
 }

.actions {
  text-align: center;
}

.nav_btn {
  text-decoration: none;
}

input.user_nickname {
  background-color: #ffffff;
  height: 30px;
  margin: 0 auto;
}

input#user_nickname {
  height: 60px;
  width: 330px;
  border-radius: 5px;
  border: none;
}

input#user_email {
  height: 60px;
  width: 330px;
  border-radius: 5px;
  border: none;
}

input#user_password {
  height: 60px;
  width: 330px;
  border-radius: 5px;
  border: none;
}

input#user_password_confirmation {
  height: 60px;
  width: 330px;
  border-radius: 5px;
  border: none;
}

/* ログイン */

.session {
  background-color: #fff1f1b9;
}

.session h2 {
  text-align: center;
  padding: 45px;
  font-size: 30px;
  margin-top: 30px;
}

.login {
  text-align: center;
  line-height: 30px;
  padding: 30px 30px 45px;
  background-color: #fff1f1b9;
}

input{
  border:1px solid;
  border-radius: 3px;
  background-color: #ffffff;
  }
  
.actions input {
  background-color: #ffffff00;
  margin: 30px;
  padding: 6px;
}

.nav__btn {
  padding: 9px;
  margin: 18px;
  border: 2px solid #ffffff;
  border-radius: 6px;
}