.user-inner {
  background-color: #ffff;
}

.user__wrapper {
  text-align: center;
  font-size: 30px;
  margin: 30px;
  padding-top: 75px;
}

.user__recipes {
  text-align: center;
  padding: 15px;
}

.recipe-images {
  width: 120px;
}